@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100% !important;
  width: 100%;
  font-family: "JetBrains Mono", monospace !important;
}

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.5s ease-in-out;
}

.mobileMenu.active {
  right: 0; /* Bring the menu into view */
}

.leftSlide {
  animation: 2s 1 alternate slideinLeft ease;
}

.rightSlide {
  animation: 2s 1 alternate slideinRight ease;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: gray;
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.animate-slide {
  animation: slide 1.5s infinite ease-in-out alternate; /* 2s duration, ease-in-out timing, alternate directions */
}

.slider:hover {
  opacity: 1;
}

.fullPageScroll {
  scrollbar-width: thin;
}

.InDevPrompt.active {
  display: hidden;
}

.cookie-alert.hide {
  opacity: 0;
  transform: translateY(100%);
  transition-delay: 1000ms;
}

@keyframes slideinLeft {
  from {
    translate: -150vw 0;
  }

  to {
    translate: 0 0;
  }
}

@keyframes slideinRight {
  from {
    translate: 150vw 0;
  }

  to {
    translate: 0 0;
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px); /* Move 20px to the right */
  }
  100% {
    transform: translateX(0); /* Back to the original position */
  }
}

@media only screen and (max-width: 768px) {
  .fullPageScroll {
    scrollbar-width: none;
  }
}

@media only screen and (max-width: 1060px) {
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* COOKIES TEMPLATE */

#simple-cookie-consent {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  resize: vertical;
  overflow: auto;
  z-index: 999999999;
  background: rgba(0, 0, 0, 0.7);
}
#simple-cookie-consent .cookie-consent-container {
  position: absolute;
  top: 50%;
  left: 20px;
  right: 20px;
  margin: -100px auto 0;
  background: #fff;
  padding: 20px;
  max-width: 500px;
}
#simple-cookie-consent .cookie-consent-selection {
  text-align: right;
}
#simple-cookie-consent {
  border: none;
  padding: 10px 20px;
  margin: 10px 0 0 10px;
  background: none;
  font-size: 1.1em;
}
#simple-cookie-consent button.cookie-consent-allow {
  background-color: #04aa6d;
  color: #fff;
}
#simple-cookie-consent button.cookie-consent-allow:focus,
#simple-cookie-consent button.cookie-consent-allow:hover {
  background-color: #059862;
  cursor: pointer;
}
#simple-cookie-consent button.cookie-consent-deny {
  padding: 5px 0;
  font-size: 0.9em;
  opacity: 0.8;
}
#simple-cookie-consent button.cookie-consent-deny:focus,
button.cookie-consent-deny:hover {
  opacity: 1;
  cursor: pointer;
}
#simple-cookie-consent hr {
  margin: 15px 0;
}
